body {margin: 0;}

.wrapper {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 10px;
  box-sizing: border-box;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.header {
  display: flex;
  flex-wrap: wrap;
}



